.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1;
  font-style: normal;
}
/* share style */

.flex{
    display: flex;
}
.text-bold{
    font-weight: bold;
    color: black;
}
.text-size-sm{
    font-size: 16px;
    color: #8987A1;
}
.text-size-md{
    font-size: 1.4rem;
}
.text-size-lg{
    font-size: 3.1rem;
}
.text-size-xl{
    font-size: 4rem;
}
.text-bold-orange{
    font-weight: bold;
    color: #E95A08;
}
/* navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: auto;
}
.nav-items{
    gap: 10px;
}
.nav-items img{
    max-height: 20px;
}
.nav-items a{
    text-decoration: none;
    color:black;
}

.banner{
    max-width: 1140px;
    margin: 50px auto;
}
.banner img{
    width: auto;
}

main{
    max-width: 1140px;
    margin: auto;
    text-align: center;
}
.plants{
    max-width: 1140px;
    margin: auto;
}
.card{
    margin: auto;
}
.flower-name{
    font-weight: 400;
    margin-bottom: 0;
}
.price{
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}
.btn-primary{
    background-color: #E95A08;
    border: none;
    padding: 26px 50px;
    max-width: 270px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 4fr);

}
.lover-section{
    padding-top: 150px;
    display: flex;
    max-width: 1140px;
    align-items: center;
    position: relative;
}
.lovers-title{
    font-size: 3.2rem;
}
.badge img{
    max-width: 286px;
    max-height: 286px;
    position: absolute;
    top: -5px;
    left: 400px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.deals-title{
    margin-bottom: 0;
}
.deals-description{
    font-size: 1.4rem;
}

@media screen and (max-width: 576px) {
    .navbar{
        margin-top: 10px;
        justify-content: space-between;
    }
    .hide-mobile{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        align-items: start;
    }
    .banner img{
        max-width: 100%;
    }
    .cards{
        grid-template-columns: repeat(2, 2fr);
        margin-right: 5px;
    }
    .card img{
        max-width: 100%;
        height: auto;
        display: block;
    }
    .card{
        margin: 5px;
    }
    .lover-section{
        flex-direction: column;
    }
    .lover-section img{
        max-width: 100%;
    }
    .badge{
        display: none;
    }
    
}

